@font-face {
  font-family: 'Passion One';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/PassionOne-Regular.woff2') format('woff2'),
       url('../assets/fonts/PassionOne-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Passion One';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/PassionOne-Bold.woff2') format('woff2'),
       url('../assets/fonts/PassionOne-Bold.woff') format('woff');
}