
/* @import url('normalize.css'); */
@import url('fonts.css');
@import url('variables.css');

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--font-size);
  font-family: var(--main-font);
  background: url('../assets/img/earth.jpg') var(--black) left 13% no-repeat;
  color: var(--white);
}