.header {
  display: flex;
  justify-content: space-between;

  .header__info {
    max-width: 375px;
  }

  .header__title {
    font-family: Passion One;
    font-size: var(--title-lg-size);
    color: var(--orange);
    margin-bottom: 15px;
  }

  .header__phrase {
    margin-bottom: 5px;
  }
}